.pagrindinis{
  background-image: url("https://s1.cdn.autoevolution.com/images/news/gallery/decades-of-corvette-mustang-3-series-and-accord-evolution-served-as-delicious-gifs_2.gif");
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  min-width: 160px;
  min-height: 90px;
}
html, body, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}
h1{
  text-align: center;
  vertical-align: center;
  color: Yellow;
}
h3{
	color: yellow;
}
@@media screen and (max-width: 600px) {

  img{
    min-width: 100%;
  }

}
